nav{
    text-align: right;
    
}

h1{
    color: blueviolet;
    text-align: center;
    border: 1px solid ;
    border-radius: 9px;
    height: 65px;
    padding: 20px;
    border: none;
}

.content{
    text-align: center;
}
p{
    text-align: center;
    border: 1px blueviolet solid;
    padding: 20px;
    border-radius: 10px;
    height: 20px;
    width: 450px;
    position: relative;
    left: 450px;
}

#btn1 button{
    border: 1px blueviolet solid;
    width: 70px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    left: 20px;
    top: 100px;
    z-index: 2;
}
#btn2 button{
    border: 1px blueviolet solid;
    width: 70px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    position: relative;
    top: 73px;
    left: 175px;
    z-index: 1;
}